
.outerContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width:100%;  
}

3uj89
.navbar {
    background-color: #fff;
    display: flex;
    padding: 2%;
}

.topSection {
    position: relative;
    background-color:#F2DDBB;
    overflow: hidden;
    width: 100%;
    height: 80%;
    padding: 0px;

}
.scoreSection {
    background-color: #F01716;
    width: 100%;
    height: 100%;
}

.jakeSection {

    position: absolute;
    z-index: 3;
    bottom: -1%;
    left: 0%;
}
.circleBackground {
    border-radius: 200%;
    position: absolute;
    background-color: #fff;
    top: 40%;
    left: -10%;
    width: 745px;
    height: 492px;
}
.bonusSection {

    position: absolute;
    width: 50%;
    height: 70%;
    left: 40%;
    top: 20%;
}

.savedYourself {
    position: absolute;
    font-size: 36px;
    top: 0%;
    left: 0%;
    color: #000;

}

.bonus {
    position: absolute;
    display: flex;
    width: fit-content;
    font-size: 86px;
    top: 15%;
    left: 35%;
    color: #000;
}
.dollarSign {
    color: #269400;
}


.bonusBlack {
    color: #000;
}

.bonusRed {
    color: #F01716;
}

.bonusDescription {
    
    position: absolute;
    text-indent: 20px;
    width: 45%;
    font-size: 32px;
    left: 40%;
    top: 60%;
}
